.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.slide-to-right {
  animation: slideFromRight 0.5s ease-out forwards;
}
@keyframes slideFromRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-to-right-1o4 {
  animation: slideFromRight1o4 0.5s ease-out forwards;
}
@keyframes slideFromRight1o4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(25%);
  }
}

.slide-to-left {
  animation: slideToLeft 0.5s ease-out forwards;
}
@keyframes slideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-to-left-2 {
  animation: slideToLeft2 0.5s ease-out forwards;
}
@keyframes slideToLeft2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.slide-to-left-3 {
  animation: slideToLeft3 0.5s ease-out forwards;
}
@keyframes slideToLeft3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}

.slide-to-left-1o4 {
  animation: slideToLeft1o4 0.5s ease-out forwards;
}
@keyframes slideToLeft1o4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

.slide-to-left-2o4 {
  animation: slideToLeft2o4 0.5s ease-out forwards;
}
@keyframes slideToLeft2o4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slide-to-left-3o4 {
  animation: slideToLeft3o4 0.5s ease-out forwards;
}
@keyframes slideToLeft3o4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75%);
  }
}
